Infatlan_STEI_Service/Web References/SapService/zws_af_inf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__ZWS_AF_INF">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__ZWS_AF_INF_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZWS_AF_INF">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>005056B010831EEA8A86B7910CADE0E7</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZWS_AF_CONSULTA">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr13.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZST_FI_MSG">
        <xsd:sequence>
          <xsd:element name="COD_MSG" type="tns:char5" />
          <xsd:element name="DESCRI" type="tns:char50" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZWS_AF_ACRE">
        <xsd:sequence>
          <xsd:element name="IDACREEDOR" type="tns:char10" />
          <xsd:element name="ACREEDOR" type="tns:char30" />
          <xsd:element name="RESPONSABLE" type="tns:char30" />
          <xsd:element name="DIRECCION" type="tns:char100" />
          <xsd:element name="TELEFONO" type="tns:char16" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZWS_AF_INFT">
        <xsd:sequence>
          <xsd:element name="SOCIEDAD" type="tns:char4" />
          <xsd:element name="ACTIVOFIJO" type="tns:char12" />
          <xsd:element name="SECUENCIA" type="tns:char4" />
          <xsd:element name="IDTIPOARTICULO" type="tns:char8" />
          <xsd:element name="TIPOARTICULO" type="tns:char50" />
          <xsd:element name="IDACREEDOR" type="tns:char10" />
          <xsd:element name="ACREEDOR" type="tns:char30" />
          <xsd:element name="RESPONSABLE" type="tns:char30" />
          <xsd:element name="DIRECCION" type="tns:char100" />
          <xsd:element name="TELEFONO" type="tns:char16" />
          <xsd:element name="DESCRIPCION" type="tns:char50" />
          <xsd:element name="PRECIO" type="tns:curr13.2" />
          <xsd:element name="EJERCICIO" type="tns:numeric4" />
          <xsd:element name="FECHA" type="tns:date10" />
          <xsd:element name="SERIE" type="tns:char18" />
          <xsd:element name="INVENTARIO" type="tns:char25" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZWS_AF_TAC">
        <xsd:sequence>
          <xsd:element name="IDTIPOARTICULO" type="tns:char8" />
          <xsd:element name="TIPOARTICULO" type="tns:char50" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZST_FI_MSG_TAB">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZST_FI_MSG" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZST_AF_DATA_PROV">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZWS_AF_ACRE" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZST_AF_DATA">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZWS_AF_INFT" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZST_AF_DATA_TIPOA">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZWS_AF_TAC" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZWS_AF_CONSULTA">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="FECHA_FINAL" type="tns:date10" />
            <xsd:element minOccurs="0" name="FECHA_INICIO" type="tns:date10" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZWS_AF_CONSULTAResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ZAF_DATA_MSG" type="tns:ZST_FI_MSG_TAB" />
            <xsd:element name="ZAF_DATA_PROV" type="tns:ZST_AF_DATA_PROV" />
            <xsd:element name="ZAF_DATA_TAB" type="tns:ZST_AF_DATA" />
            <xsd:element name="ZAF_DATA_TIPOA" type="tns:ZST_AF_DATA_TIPOA" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZWS_AF_CONSULTA">
    <wsdl:part name="parameters" element="tns:ZWS_AF_CONSULTA" />
  </wsdl:message>
  <wsdl:message name="ZWS_AF_CONSULTAResponse">
    <wsdl:part name="parameter" element="tns:ZWS_AF_CONSULTAResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_AF_INF">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZWS_AF_INF" />
    </wsp:Policy>
    <wsdl:operation name="ZWS_AF_CONSULTA">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZWS_AF_CONSULTA" />
      </wsp:Policy>
      <wsdl:input message="tns:ZWS_AF_CONSULTA" />
      <wsdl:output message="tns:ZWS_AF_CONSULTAResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_AF_INF" type="tns:ZWS_AF_INF">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_AF_INF" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZWS_AF_CONSULTA">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWS_AF_INF:ZWS_AF_CONSULTARequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZWS_AF_INF_soap12" type="tns:ZWS_AF_INF">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_AF_INF_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZWS_AF_CONSULTA">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWS_AF_INF:ZWS_AF_CONSULTARequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_AF_INF">
    <wsdl:port name="ZWS_AF_INF" binding="tns:ZWS_AF_INF">
      <soap:address location="http://vsrvsaperpprd.adbancat.hn:8000/sap/bc/srt/rfc/sap/zws_af_inf/300/zws_af_inf/zws_af_inf" />
    </wsdl:port>
    <wsdl:port name="ZWS_AF_INF_soap12" binding="tns:ZWS_AF_INF_soap12">
      <wsoap12:address location="http://vsrvsaperpprd.adbancat.hn:8000/sap/bc/srt/rfc/sap/zws_af_inf/300/zws_af_inf/zws_af_inf" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>