Infatlan_STEI_Inventario/Web References/SapActivos/zws_af_infatlan.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr13.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZST_FI_MSG">
        <xsd:sequence>
          <xsd:element name="COD_MSG" type="tns:char5" />
          <xsd:element name="DESCRI" type="tns:char50" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZWS_AF_INFT">
        <xsd:sequence>
          <xsd:element name="SOCIEDAD" type="tns:char4" />
          <xsd:element name="ACTIVOFIJO" type="tns:char12" />
          <xsd:element name="SECUENCIA" type="tns:char4" />
          <xsd:element name="IDTIPOARTICULO" type="tns:char8" />
          <xsd:element name="TIPOARTICULO" type="tns:char50" />
          <xsd:element name="IDACREEDOR" type="tns:char10" />
          <xsd:element name="ACREEDOR" type="tns:char30" />
          <xsd:element name="RESPONSABLE" type="tns:char30" />
          <xsd:element name="DIRECCION" type="tns:char100" />
          <xsd:element name="TELEFONO" type="tns:char16" />
          <xsd:element name="DESCRIPCION" type="tns:char50" />
          <xsd:element name="PRECIO" type="tns:curr13.2" />
          <xsd:element name="EJERCICIO" type="tns:numeric4" />
          <xsd:element name="FECHA" type="tns:date10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZST_FI_MSG_TAB">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZST_FI_MSG" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZST_AF_DATA">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZWS_AF_INFT" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZWS_AF_CONSULTA">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="FECHA_FINAL" type="tns:date10" />
            <xsd:element minOccurs="0" name="FECHA_INICIO" type="tns:date10" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZWS_AF_CONSULTAResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ZAF_DATA_MSG" type="tns:ZST_FI_MSG_TAB" />
            <xsd:element name="ZAF_DATA_TAB" type="tns:ZST_AF_DATA" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZWS_AF_CONSULTA">
    <wsdl:part name="parameters" element="tns:ZWS_AF_CONSULTA" />
  </wsdl:message>
  <wsdl:message name="ZWS_AF_CONSULTAResponse">
    <wsdl:part name="parameter" element="tns:ZWS_AF_CONSULTAResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_AF_INFATLAN">
    <wsdl:operation name="ZWS_AF_CONSULTA">
      <wsdl:input message="tns:ZWS_AF_CONSULTA" />
      <wsdl:output message="tns:ZWS_AF_CONSULTAResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_AF_INFATLAN" type="tns:ZWS_AF_INFATLAN">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZWS_AF_CONSULTA">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWS_AF_INFATLAN:ZWS_AF_CONSULTARequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZWS_AF_INFATLAN_soap12" type="tns:ZWS_AF_INFATLAN">
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZWS_AF_CONSULTA">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWS_AF_INFATLAN:ZWS_AF_CONSULTARequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_AF_INFATLAN">
    <wsdl:port name="ZWS_AF_INFATLAN" binding="tns:ZWS_AF_INFATLAN">
      <soap:address location="http://VSRVSAPQASERP.ADBancat.hn:8000/sap/bc/srt/rfc/sap/zws_af_infatlan/200/zws_af_infatlan/zws_af_infatlan" />
    </wsdl:port>
    <wsdl:port name="ZWS_AF_INFATLAN_soap12" binding="tns:ZWS_AF_INFATLAN_soap12">
      <wsoap12:address location="http://VSRVSAPQASERP.ADBancat.hn:8000/sap/bc/srt/rfc/sap/zws_af_infatlan/200/zws_af_infatlan/zws_af_infatlan" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>